@import './base.css';

body{
    overflow: hidden;
    background-color: var(--backgroundgray);
    font-weight: 600;
    font-family: "Poppins";
}

.app-bar{
    background-color: var(--backgroundgray);
}

#imglogin{
    height: 40px;
    width: 40px;
}

#imglogin1{
    height: 40px;
    width: 40px;
}

#imglogin:hover{
    cursor: pointer;
}

#sisdev{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#BodyFirstPageLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    overflow: hidden;
}

.Pconectlogin{
    font-weight: 400;
}

#inputsenha{
    margin-bottom: 0px;
}

#FormPageLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

input:focus{
    outline: none;
}

input{
    font-family: "Poppins";
}

.Label1formlogin{
    display: flex;
    align-items: center;
}

.LabelsLogin{
    border: 0;
    padding: 5px 5px;
    border-radius: 5px;
}

#erradosenha {
    margin-top: 0px;
    margin-bottom: 0px; /* já está zerado */
    font-size: 17px;
    padding: 0px;
    line-height: 0.7; /* diminui o espaço interno da linha */
}

#ButtonPageLoginEntrar{
    background-color: var(--purple);
    color: var(--gwhite);
    border-radius: 5px;
    padding: 5px 100px;
    border: hidden;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

#ButtonPageLoginEntrar:hover{
    background-color: var(--bluelight);
}

#AbuttonCadastrar:hover{
    background-color: var(--blackgray);
}

#AbuttonCadastrar{
    background-color: black;
    color: var(--gwhite);
    border-radius: 5px;
    padding: 5px 50px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
}

.Terms{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.Terms:hover{
    color: var(--blackgray);
    text-decoration: underline;
}

.welcome{    
    color: var(--bluelock);
}