@import './base.css';

h1{
    color: #027BD4;
    font-size: 1.1rem;
}

.h2l{
    color: #0353DA;
    font-size: 1rem;
}

body{
    font-family: "Poppins";
    background-color: var(--gwhite);
    font-size: 0.90rem;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#primeirotitle{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

input{
    font-family: "Poppins";
    font-size: 11px;
}

#todosform{
    display: flex;
    max-width: 490px;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: stretch; /* Faz todos os filhos terem a mesma altura */
}

#fotohome{
    cursor: pointer;
}

#form1, #form2, #form3{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 150px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    height: 100%; /* Garante mesma altura dos três forms */
}

#buttons{
    display: flex;
    gap: 8px;
    margin: 12px auto 0 auto;
    justify-content: center;
}

#continuar{
    background-color: #353DAB;
    color: white;
    border-radius: 3px;
    padding: 3px 7px;
    text-decoration: none;
    font-size: 0.90rem;
    margin-top: 3px;
    border: none;
    cursor: pointer;
}

#btnAtualizar{
    background-color: #353DAB;
    color: white;
    border-radius: 3px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 0.90rem;
    margin-top: 3px;
    border: none;
    cursor: pointer;
}

#buttons{
    margin-top: 5px;
}

#voltar{
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 3px 7px;
    text-decoration: none;
    font-size: 0.90rem;
    margin-top: 3px;
    border: none;
    cursor: pointer;
}

#message{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 3px auto 0 auto;
    
}