@import './base.css';
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--backgroundgray);
}

#fotohome{
    cursor: pointer;
}


h1{
    color: #027BD4;
}

#btnAtualizar{
    background-color: #353DAA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    cursor: pointer;
}

#sisdev{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#imglogin1{
    height: 40px;
    width: 40px;
}

#btnVoltar{
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-family: poppins, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dentroform{
    display: flex;
    gap: 50px;
}

.entre{
    display: flex;
    flex-direction: column;
}

input{
    font-family: "Poppins", sans-serif;
    background-color: F0EFF4;
}

.h2s{
    color: #353DAA;
}

#buttons{
    display: flex;
    margin-top: 30px;
    gap: 40px;
}