body{
    font-family: poppins, sans-serif;
    background-color: F0EFF4;
}

#subtitle{
    font-size: 1.5em;
    color: #353DAA;
    text-align: center;
    margin-top: 10px;
}

#fotohome{
    cursor: pointer;
}

#formulario1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


input{
    font-family: poppins, sans-serif;
    font-size: 1.2em;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-around;
    height: 50vh;
    margin-top: 40px; 
}

table {
    border-collapse: collapse; /* une as bordas das células */
    width: 100%;
    margin-bottom: 25px;
}

td, th {
    padding: 5px;
}

#continuar{
    background-color: #353DAA;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: poppins, sans-serif;
    cursor: pointer;
}

#voltar{
    background-color: red;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    font-family: poppins, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buttons{
    margin-top: 70px ;
}

#title{
    font-size: 2.5em;
    color: #01406E;
    text-align: center;
    margin-top: 20px;
}